@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --baccgroundColor: #f6f6f6;
  --baccgroundColorCards: #ffffff;
  --baccgroundColorHover: #e0e0e0;
  --mainColor: #313131;
  --colorBtn: #4d4d4d;
  --borderColor: #ccc;
  --borderHoverColor: #9a9a9a;
  --baccgroundColorActive: #d3d3d3;
  --redColor: #ff1919;
  --redBackgroundColor: #ffd6d6;
  --redBackgroundColorActive: #f5c5c5;
  --redBorderColor: #FF5252FF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--baccgroundColor);
  color: var(--mainColor);
  font-family: "Sora", sans-serif;
  /*font-optical-sizing: auto;*/
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: "Sora", sans-serif;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

button:hover {
  background-color: var(--baccgroundColorHover);
  border: 1px solid var(--borderHoverColor);
}

button:active {
  transform: translateY(1px);
  background-color: var(--baccgroundColorActive);
}

.button_add-sold-device {
  padding: 8px 10px;
}

.button_copy-report {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10px;
  top: 10px;
}

.button_generate-report {
  width: 100%;
  padding: 12px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 30px 40px;
  font-size: 28px;
  font-weight: 700;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.main {
  margin-bottom: 40px;
}

.form,
.form_sold-devices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  margin: 0 0 20px 0;
}

.form__label {
  font-weight: 700;
}

.form__input,
.form__select,
.inline-form__input {
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

.form__input {
  max-width: 100%;
  padding: 10px 12px;
}

.form__select {
  max-width: 100%;
  padding: 10px;
}

.form__input:hover,
.form__select:hover,
.inline-form__input:hover {
  border: 1px solid var(--borderHoverColor);
}

.inline-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.inline-form__input {
  display: inline-block;
  padding: 4px;
  width: 100%;
}

.used-checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sold-devices-section {
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 18px;
}

.sold-devices {
}

.sold-devices__label {
  font-weight: 600;
  margin: 20px 0 10px
}

.sold-device__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  padding: 8px 10px;
}

.sold-device__item:nth-child(even) {
  background: var(--baccgroundColorHover);
}

.sold-device__desc {

}

.sold-device__remove-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.report {
  margin-top: 20px;
  padding: 10px 12px;
  background-color: var(--baccgroundColorCards);
  border: 1px solid var(--borderColor);
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.report__container {
  margin: 0;
  font-size: 16px;
  min-height: 36px;
}

.report__container p {
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 60px;
  color: var(--colorBtn);
  font-size: 14px;
}

.footer a {
  margin-left: 4px;
  color: var(--mainColor);
}

@media screen and (max-width: 425px) {
  .App {
    padding: 0 5px;
  }

  .header {
    padding: 0 0 30px 0;
    justify-content: start;
  }

  .inline-form {
    flex-direction: column;
    gap: 8px;
  }

  .inline-form > * {
    width: 100%;
  }

  .used-checkbox label {
    font-size: 14px;
  }

  .sales__options {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .options__button_clear {
    margin-left: 0;
  }

  .sold-device__desc {
    font-size: 14px;
  }

  .report__container {
    font-size: 14px;
    min-height: 28px;
  }

  button.button_copy-report {
    line-height: 1;
    padding: 4px;
    margin: 0;
    height: 28px;
  }

  .footer {
    font-size: 12px;
  }
}

