* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  color: #313131;
  font-family: Roboto, sans-serif;
}

.App {
  width: 760px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 30px 40px;
  font-size: 28px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.form__label {
  font-weight: 700;
}

.form__input, .form__select {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.form__input {
  padding: 10px 12px;
}

.form__select {
  padding: 10px;
}

.form__label {
}

.sales {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sales__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}

.sales__item-name {
  font-size: 15px;
}

.sales__options {
  display: flex;
}

.options {
  display: flex;
  align-items: center;
}

.options__name {
  font-size: 13px;
  margin: 0 6px 0 12px;
}

.option__checkbox {
  margin: auto 0;
  cursor: pointer;
}

.options__button {
  cursor: pointer;
  height: 20px;
  min-width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.options__button_left {
  border-radius: 4px 0 0 4px;
}

.options__button_right {
  border-radius: 0 4px 4px 0;
}

.options__button:hover {
  background-color: #e0e0e0;
}

.options__input {
  padding: 4px;
  border: 1px solid #ccc;
  max-width: 40px;
  height: 20px;

}

.main__button {
  margin-top: 20px;
}

.generate-button {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.generate-button:hover {
  background-color: #e0e0e0;
}

.report {
}